/* VARS */
:root {
  --headerfont: 'Nunito', sans-serif;
  --contentfont: 'Open Sans', sans-serif;
  --bg-color: #fff;
  --secondarycolor: #ff9166;
  --nav-color: #5070b5;
  --section-color: #ffd470;
  --footer-color: #58ccb6;
}

html {
  -webkit-font-smoothing: antialiased;
}

.wireframe {
  border: 1px solid black;
}

/* LAYOUT */

.wrapper {
  display: flex;
  min-height: 100vh;
}

.content {
  background-color: #fff;
  width: 100%;
}

.custom-btn {
  background-color: transparent;
  font-family: var(--contentfont);
  padding: 10px;
  border-radius: 25px;
  border: 1px solid #fff;
  color: #fff;
}
.custom-btn:hover {
  color: #000;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

/* NAV */
.nav {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.95);
  min-height: 75px;
  bottom: 0;
  width: 100%;
  font-family: var(--headerfont);
}
.nav-item:hover {
  background-color: var(--section-color);
}
.navbar-toggler-icon {
  border: none;
}
/* BANNER */

.banner {
  background-color: #fff;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}
.banner-text {
  font-size: 1.5em;
  font-family: var(--headerfont);
  align-self: center;
}

/* SECTIONS */

.section-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
.section-header-text {
  font-family: var(--headerfont);
  text-align: center;
  align-items: center;
  width: 40%;
}
.section {
  display: flex;
  min-height: 1px;
  padding: 25px 5%;
  margin: 0px 5% 25px;
  background-color: var(--secondarycolor);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

/* ABOUT */
.about-img {
  width: 45%;
  border-radius: 50%;
  margin-bottom: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.about-info {
  margin: 0 auto;
  width: 90%;
  font-family: var(--contentfont);
  text-align: left;
}

/* TECH */

/* PORTFOLIO */
.portfolio-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.portfolio-item {
  margin: 10px auto;
  width: 90%;
  text-align: left;
}
.item-img {
  height: 200px;
  border-radius: 5px;
  background-color: #fff;
}

/* CONTACT */
.contact-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: var(--contentfont);
}
.contact-info {
  margin: 0 auto;
  text-align: left;
  width: 90%;
  border: 1px solid black;
}
.contact-options {
  margin: 0 auto;
  width: 90%;
  border: 1px solid black;
}

/* FOOTER */
.footer {
  margin-top: 25px;
  margin-bottom: 75px;
  height: 75px;
  width: 100%;
  background-color: var(--footer-color);
}

@media (width >= 1024px) {
  .nav {
    position: fixed;
    background-color: transparent;
    height: 75px;
    top: 0;
    width: 100%;
  }
  .nav-content {
    display: flex;
    justify-content: flex-end;
  }
  .content {
    height: 100vh;
  }
  .banner {
    height: 100vh;
  }
  .banner-text {
    font-size: 2.5em;
  }
  .footer {
    margin-bottom: 0px;
  }
}
